<h2>Lista de Cadastro</h2>

{{#each clientes}}
<ul>
    <li>Nome: {{dataValues.nome}}</li>
    <li>CPF: {{dataValues.cpf}}</li>
    <li>Email: {{dataValues.email}}</li>
    <li>Idade: {{dataValues.idade}}</li>
    <a href="/deletar/{{dataValues.id}}"><button>Excluir</button></a>
</ul>
{{/each}}
<a href="./" target=""><button>Home</button></a>